## 1. Install PyMongo

In [1]:

!pip install pymongo

Requirement already satisfied: pymongo in c:\users\as-lab1\anaconda3\lib\site-packages (4.12.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\as-lab1\anaconda3\lib\site-packages (from pymongo) (2.7.0)


## 2. Run MongoDB using Docker

In [3]:
!docker run -d -p 27017:27017 --name mongo-test mongo

2eef2b3e8754e57409cae8ee250743409b9ea9c1f2cd726614d398038d4ffd29

## 3. Connect to MongoDB

In [15]:
from pymongo import MongoClient

# Connect to local MongoDB
client = MongoClient('mongodb://localhost:27017/')

# Create or access a (document) database
db = client['test_db']

# Create or access a collection
collection = db['users']

## 4. Insert Documents

In [19]:
# Insert one document
user = {'name': 'Alice', 'age': 25, 'city': 'Bangkok'}
collection.insert_one(user)

InsertOneResult(ObjectId('6922719a3f63ae9215d693fc'), acknowledged=True)

In [21]:
# Insert many documents
users = [
    {'name': 'Bob', 'age': 30},
    {'name': 'Carol', 'age': 27}
]
## ถ้า insert มากกว่า 1 ใช้ insert many
collection.insert_many(users)

InsertManyResult([ObjectId('692272023f63ae9215d693fd'), ObjectId('692272023f63ae9215d693fe')], acknowledged=True)

## 5. Query Documents

In [24]:
# Find one document
## select ใช้ find
result = collection.find_one({'name': 'Alice'})
print(result)

{'_id': ObjectId('6922719a3f63ae9215d693fc'), 'name': 'Alice', 'age': 25, 'city': 'Bangkok'}

In [34]:
# Find documents with age >= 25 (greater than 25)
## ถ้าหามากกว่า 1 ใช้ find
for user in collection.find({'age': {'$gt': 20}}):
    print(user)

{'_id': ObjectId('6922719a3f63ae9215d693fc'), 'name': 'Alice', 'age': 25, 'city': 'Bangkok'}
{'_id': ObjectId('692272023f63ae9215d693fd'), 'name': 'Bob', 'age': 30}
{'_id': ObjectId('692272023f63ae9215d693fe'), 'name': 'Carol', 'age': 27}

## 6. Update Documents

In [37]:
# Update one document
## update อายุของ Alice เป็น 26
collection.update_one({'name': 'Alice'}, {'$set': {'age': 26}})
# Get the result
result = collection.find_one({'name': 'Alice'})
print(result)

{'_id': ObjectId('6922719a3f63ae9215d693fc'), 'name': 'Alice', 'age': 26, 'city': 'Bangkok'}

In [39]:
# Update many documents
## undate อายุทุกคนเพิ่ม 1 ปี
collection.update_many({}, {'$inc': {'age': 1}})

UpdateResult({'n': 3, 'nModified': 3, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [41]:
## show data ทั้งหมด
for user in collection.find():
    print(user)

{'_id': ObjectId('6922719a3f63ae9215d693fc'), 'name': 'Alice', 'age': 27, 'city': 'Bangkok'}
{'_id': ObjectId('692272023f63ae9215d693fd'), 'name': 'Bob', 'age': 31}
{'_id': ObjectId('692272023f63ae9215d693fe'), 'name': 'Carol', 'age': 28}

## 7. Delete Documents

In [ ]:

# Delete one document
collection.delete_one({'name': 'Bob'})
for user in collection.find():
    print(user)
print("********************************************************************************************")
# Delete many documents
collection.delete_many({'age': {'$gt': 27}})
for user in collection.find():
    print(user)

## 8. List Databases and Collections

In [ ]:

# List databases and collections
print(client.list_database_names())
print(db.list_collection_names())